*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	font: 300 17px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #EFEFD0;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	color: #1A659E;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.main-header {
	background: #89002B;
	color: #EFEFD0;
	padding: 5px 10px;
	margin: 0;
	-webkit-order: 2;
	position: absolute;
	width: 100%;
	bottom: 0;
}

main {
	display: -webkit-flex;
	-webkit-justify-content: center;
}

.main-header h1 {
	margin: 0;
	text-align: center;
	font-weight: 100;
}

.last-updated {
	padding: 20px;
	display: -webkit-flex;

}



.last-updated__title {
	text-transform: uppercase;
	font-weight: 300;
}

.last-updated__meta {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: flex-end;
	line-height: 1;
}

.last-updated__meta > * {
	margin: 0;
	font-size: 3rem;
	margin-bottom: 10px;
}

.last-updated__meta:last-child {
	margin-bottom: 0;
}

.last-updated__data {
	-webkit-order: -1;
	font-size: 25rem;
	margin: 0;
	/*font-size: 10rem;*/
	/*margin: 0;*/
	line-height: .8;
	font-weight: 300;
	
}

@media screen and (max-width: 800px) {
	main {
		-webkit-justify-content: flex-start;
	}
	
	.last-updated {
		-webkit-flex-direction: column;
	}
	.last-updated__data {
		font-size: 10rem;
	}
	
	.last-updated__meta > * {
		font-size: 2rem;
	}
}
