*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	font: 300 17px/1.4 Arial, sans-serif;
	background: #333;
	color: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.main-header {
	background: #ffaa16;
	color: #333;
	padding: 5px 10px;
	margin: 0;
}

main {
	display: -webkit-flex;
	-webkit-justify-content: center;
}

.main-header h1 {
	margin: 0;
	text-align: center;
}

.last-updated {
	padding: 20px;
	display: -webkit-flex;

}



.last-updated__title {
	text-transform: uppercase;
}

.last-updated__meta {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: flex-end;
	line-height: 1;
}

.last-updated__meta > * {
	margin: 0;
	font-size: 3rem;
	margin-bottom: 10px;
}

.last-updated__meta:last-child {
	margin-bottom: 0;
}

.last-updated__data {
	-webkit-order: -1;
	font-size: 25rem;
	margin: 0;
	/*font-size: 10rem;*/
	/*margin: 0;*/
	line-height: .8;
	
}

@media screen and (max-width: 800px) {
	main {
		-webkit-justify-content: flex-start;
	}
	
	.last-updated {
		-webkit-flex-direction: column;
	}
	.last-updated__data {
		font-size: 10rem;
	}
	
	.last-updated__meta > * {
		font-size: 2rem;
	}
}
